[Desktop Entry]
Name=Tailscale
Comment=Manage Tailscale from the system tray
Exec=tailscale systray
Icon=network-vpn
Terminal=false
Type=Application
Categories=Network;
